[submodule "DuckStore.Shopping.Web.SPA"]
	path = DuckStore.Shopping.Web.SPA
	url = https://github.com/KeveenMenezes/DuckStore.Shopping.Web.SPA.git
[submodule "src/WebApps/Shopping.Web.SPA"]
	path = src/WebApps/Shopping.Web.SPA
	url = https://github.com/KeveenMenezes/DuckStore.Shopping.Web.SPA.git
