{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "This template is partially managed by Amazon.Lambda.Annotations (v1.8.0.0).",
  "Resources": {
    "PricingFunctionFunctionsCreateCampaignGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "CreateCampaign"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "PricingFunctionFunctionsEndCampaignGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "EndCampaign"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "PricingFunctionFunctionsGetInstallmentPlanGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "GetInstallmentPlan"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "PricingFunctionFunctionsPriceStreamPublisherGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "PriceStreamPublisher"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "PricingFunctionFunctionsGetBasketInstallmentPlanGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "GetBasketInstallmentPlan"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "PricingFunctionFunctionsProductDeletedConsumerGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "ProductDeletedConsumer"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "PricingFunctionFunctionsProductDiscountStreamPublisherGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnet10",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "bootstrap",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "ProductDiscountStreamPublisher"
          }
        }
      }
    },
    "PricingFunctionFunctionsPointsRedeemedConsumerGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnet10",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "bootstrap",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "PointsRedeemedConsumer"
          }
        }
      }
    },
    "PricingFunctionFunctionsPaymentAuthorizedConsumerGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnet10",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "bootstrap",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "PaymentAuthorizedConsumer"
          }
        }
      }
    }
  }
}