{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application. This template is partially managed by Amazon.Lambda.Annotations (v1.8.0.0).",
  "Resources": {
    "BasketFunctionFunctionsGetBasketGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/basket/{userName}",
              "Method": "GET"
            }
          }
        },
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "Basket.Function::Basket.Function.Functions_GetBasket_Generated::GetBasket"
          ]
        }
      }
    },
    "BasketFunctionFunctionsStoreBasketGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPost"
        ],
        "SyncedEventProperties": {
          "RootPost": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "Events": {
          "RootPost": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/basket",
              "Method": "POST"
            }
          }
        },
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "Basket.Function::Basket.Function.Functions_StoreBasket_Generated::StoreBasket"
          ]
        }
      }
    },
    "BasketFunctionFunctionsDeleteBasketGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootDelete"
        ],
        "SyncedEventProperties": {
          "RootDelete": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "Events": {
          "RootDelete": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/basket/{userName}",
              "Method": "DELETE"
            }
          }
        },
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "Basket.Function::Basket.Function.Functions_DeleteBasket_Generated::DeleteBasket"
          ]
        }
      }
    },
    "BasketFunctionFunctionsCheckoutBasketGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPost"
        ],
        "SyncedEventProperties": {
          "RootPost": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "Events": {
          "RootPost": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/basket/checkout",
              "Method": "POST"
            }
          }
        },
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "Basket.Function::Basket.Function.Functions_CheckoutBasket_Generated::CheckoutBasket"
          ]
        }
      }
    }
  },
  "Outputs": {
    "ApiURL": {
      "Description": "API endpoint URL for Prod environment",
      "Value": {
        "Fn::Sub": "https://${ServerlessHttpApi}.execute-api.${AWS::Region}.amazonaws.com/"
      }
    }
  }
}