{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application. This template is partially managed by Amazon.Lambda.Annotations (v1.8.0.0).",
  "Resources": {
    "CatalogFunctionFunctionsCreateProductGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPost"
        ],
        "SyncedEventProperties": {
          "RootPost": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "Events": {
          "RootPost": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/products",
              "Method": "POST"
            }
          }
        },
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "Catalog.Function::Catalog.Function.Functions_CreateProduct_Generated::CreateProduct"
          ]
        }
      }
    },
    "CatalogFunctionFunctionsDeleteProductGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootDelete"
        ],
        "SyncedEventProperties": {
          "RootDelete": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "Events": {
          "RootDelete": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/products/{id}",
              "Method": "DELETE"
            }
          }
        },
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "Catalog.Function::Catalog.Function.Functions_DeleteProduct_Generated::DeleteProduct"
          ]
        }
      }
    },
    "CatalogFunctionFunctionsUpdateProductGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPut"
        ],
        "SyncedEventProperties": {
          "RootPut": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "Events": {
          "RootPut": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/products",
              "Method": "PUT"
            }
          }
        },
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "Catalog.Function::Catalog.Function.Functions_UpdateProduct_Generated::UpdateProduct"
          ]
        }
      }
    }
  },
  "Outputs": {
    "ApiURL": {
      "Description": "API endpoint URL for Prod environment",
      "Value": {
        "Fn::Sub": "https://${ServerlessHttpApi}.execute-api.${AWS::Region}.amazonaws.com/"
      }
    }
  }
}