{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "This template is partially managed by Amazon.Lambda.Annotations (v1.8.0.0).",
  "Resources": {
    "CatalogViewFunctionFunctionsPriceSyncConsumerGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "PriceSyncConsumer"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "CatalogViewFunctionFunctionsCatalogViewProductStreamPublisherGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "CatalogViewProductStreamPublisher"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "CatalogViewFunctionFunctionsCatalogSyncConsumerGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "CatalogSyncConsumer"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "CatalogViewFunctionFunctionsReviewSyncConsumerGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "ReviewSyncConsumer"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    }
  }
}