{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application. This template is partially managed by Amazon.Lambda.Annotations (v1.8.0.0).",
  "Resources": {
    "OrderingFunctionFunctionsBasketCheckoutConsumerGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "BasketCheckoutConsumer"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "OrderingFunctionFunctionsOrderStreamPublisherGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "OrderStreamPublisher"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "OrderingFunctionFunctionsOrderPaymentAuthorizedConsumerGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "OrderPaymentAuthorizedConsumer"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    },
    "OrderingFunctionFunctionsOrderPaymentDeclinedConsumerGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "OrderPaymentDeclinedConsumer"
          }
        },
        "CodeUri": ".",
        "Handler": "bootstrap",
        "Runtime": "dotnet10"
      }
    }
  },
  "Outputs": {
    "ApiURL": {
      "Description": "API endpoint URL for Prod environment",
      "Value": {
        "Fn::Sub": "https://${ServerlessHttpApi}.execute-api.${AWS::Region}.amazonaws.com/"
      }
    }
  }
}